.description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  background-color: white;
  width: 250px;
  color: gray;
  margin: 0 auto 10px;
}

.avatar {
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: gray;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.tag {
  margin-top: 0;
  margin-bottom: 10px;
}
.location {
  margin-top: 0;
  margin-bottom: 10px;
}

.stats {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.label {
  font-size: 16px;
}

.quantity {
  color: black;
  font-weight: 500;
}
