.friend_list {
  list-style: none;
  margin: 0 auto 10px;
  width: 250px;
  padding: 0;
}

.item {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
}

.name {
  margin: 0;
  font-size: 24px;
  font-weight: 700px;
}
.avatar {
  margin-right: 10px;
}

.active::before {
  content: '\2022';
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 25px;
  font-size: 50px;
}

.status::before {
  content: '\2022';
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 25px;
  font-size: 50px;
}
